@media (max-width: 800px) {
  #navbar-form-wrapper {
    display:none;
    visibility: hidden;
 }
}
  
  
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/Lato-Regular.ttf") format("truetype");
}


.navbar-advanced-search {
  float: left;
  margin-top: 8px;
}

ul.thumbnails {
  display: flex;
  padding-left: 4px;
  padding-top: 10px;
}

ul.thumbnails li {
  list-style: none;
}

#navbar-nav-wrapper {
  float:left;
  margin-left:6px;
  margin-right: 6px;
}


.navbar-header {
  float:left !important;
}



.logo {
  background-image: url('/images/logo.jpg'); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 3px;
}


#content.container {
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('images/bibliolucca.jpg'); */
  background-image: linear-gradient(rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), url('https://sc.provincia.lucca.it/misc/BiblioLucca_emblema.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#units-tree-wrapper { /* da pensare se conviene */
  height: 85vh !important;
}

.navbar a, .nav a, #tabs a, #permalink a, #units-list a, .provincia-text-color a, .table a  {
  color: #253848 !important;
}

.jstree-no-dots li {
  line-height: 21px !important;
}

.jstree-no-dots {
  background: white !important;
}

body {
  line-height: 23px !important;
  font-size: 14px !important;
}

